# Created by https://www.toptal.com/developers/gitignore/api/cypressio
# Edit at https://www.toptal.com/developers/gitignore?templates=cypressio

### CypressIO ###
# gitignore template for the CypressIO, browser test framework
# website: https://www.cypress.io/

node_modules/
cypress/results/*
cypress/reports/*
cypress/downloads/*
cypress/screenshots/*
cypress/videos/*
jsonlogs/*
reports/*
results/*
combined.xml
# End of https://www.toptal.com/developers/gitignore/api/cypressio